// ==========================================================================
// Main styles
// ==========================================================================

* {
    box-sizing: border-box;
  }
  
  body {
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    height: 100vh;
  }
  
  li, ol, ul {
    padding: 0;
    display: inline-block;
  }
  
  h2 {
    margin: em(20) 0;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
    font-size: $font-size-large;
  }

  h2.header {
    margin: em(20) 0 0;
  }
  
  button {
    margin: em(6);
    border: em(1) solid transparent;
    padding: 0.5rem 1rem;
    color: $color-keys;
    font-size: $font-size-medium;
    background-color: $color-keys-light;
    border-radius: em(5);
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-height: 900px;
    text-align: center;
  }
  
  .section {
    width: 100%;
    padding-top: em(10);
  }
  
  /* Title */
  .header {
    color: $color-start;
  }
  
  /* Phrase */
  
  #phrase {
    padding:0;
  }

  .letter {
    font-size: $font-size-medium;
    height: em(65);
    width: em(65);
    padding: em(20) em(1) 0 em(1);
    margin: em(2) em(1) 0 0;
    color: transparent;
    background: $color-neutral-light;
    border-radius: em(5);
  }
  
  .space {
    width: em(10);
  }
  
  .show {
    background-color: $color-show;
    font-size: $font-size-show;
    font-family: 'Abril Fatface';
    color: black;
    padding: em(3) 0;
  }
  
  