// ==========================================================================
// Global Config
// ==========================================================================

// Font stacks

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Julius+Sans+One");

// Font weights 

$font-size-xlarge  : em(75);
$font-size-large  : em(60);
$font-size-medium : em(20);
$font-size-show: em(35);

// Descriptive base colors

$black               : #000;
$white               : #FFF;
$de-York             : #78CF82;
$de-York-lighter     : rgb(179, 196, 216);
$valencia            : #D94545;
$steel-blue          : #5b85b7;
$fiord               : #445069;
$alto                : #D2D2D2;
$limed-spruce        : #37474F;
$mercury             : #E5E5E5;

// Color usage

$color-win: $de-York;
$color-show: $de-York-lighter;
$color-lose: $valencia;
$color-start: $steel-blue;
$color-neutral: $fiord;
$color-neutral-light: $alto;
$color-keys: $limed-spruce;
$color-keys-light: $mercury;


//Transitions

$transition: all 0.2s ease-in-out;
